# Local environments
__pycache__/
.venv/
env/
.ipynb_checkpoints/
.git/
.vscode/

# Project artifacts
# Exclude local weights because the Dockerfile downloads them via curl
models/*.pth
results/*.png
data/processed/

# System files
.DS_Store
